@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     This application has been built to book events througout. You can book maximum of three events with one Username. It includes Virtual Map which points out your location where your event is booked.
    This application has been conected to MS SQL database. And all of the data is being extracted from the server.  
</p>
