@{
    ViewBag.Title = "Home Page";
}
<head>
<link rel="stylesheet" type="text/css" href="engine1/style.css" />
<script type="text/javascript" src="engine1/jquery.js"></script>
    </head>
<body style="margin:auto">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/image1.png" alt="Image1" title="Image1" id="wows1_0"/></li>
		<li><img src="data1/images/image2.jpg" alt="Image2" title="Image2" id="wows1_1"/></li>
		<li><img src="data1/images/image3.jpg" alt="image3" title="image3" id="wows1_2"/></li>
		<li><a href="http://wowslider.com/vf"><img src="data1/images/image4.jpg" alt="full screen slider" title="image4" id="wows1_3"/></a></li>
		<li><img src="data1/images/image5.png" alt="image5" title="image5" id="wows1_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Image1"><img src="data1/tooltips/image1.png" alt="Image1"/>1</a>
		<a href="#" title="Image2"><img src="data1/tooltips/image2.jpg" alt="Image2"/>2</a>
		<a href="#" title="image3"><img src="data1/tooltips/image3.jpg" alt="image3"/>3</a>
		<a href="#" title="image4"><img src="data1/tooltips/image4.jpg" alt="image4"/>4</a>
		<a href="#" title="image5"><img src="data1/tooltips/image5.png" alt="image5"/>5</a>
	</div></div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>

